
.imgLogo{
    height:5em;
    width: 18em;
    margin-top: -0.5em;
}

.breakLine{
    display: flex;
    flex-direction: row;
    background-color: #003140;
}
#linha1{
    margin-top: 1em;
    box-shadow: 1px 1px 400px white;
    position: absolute;
    margin-top: 3em;
    width: 20em;
    z-index: 1;
    border: 2px solid white;
    
    
}

#linha2{
    box-shadow: 1px 1px 400px white;
    position: absolute;
    margin-top: 34.5px;
    border: 2px solid white;
    margin-left: 19.8em;
    width: 5em;
    transform: rotate(160deg);
    z-index: 1;
}

#linha3{
    margin-top: 1em;
    box-shadow: 1px 1px 400px white;
    position: relative;
    margin-top: 21.0px;
    width: 100%;
    z-index: 1;
    margin-left: 24.6em;
    border: 2px solid white;
    overflow: hidden;
    
}

.header{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    position: relative;
    z-index: 999;
    background-color: #003140;
}
.header,a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    Font-weight:00;
    color: white;
    justify-content: space-between;
    height: 2.5em;
    margin-top: 20px;
    gap: 3em;
}
.btn_menu_header{
    display:none; 
   background-color: transparent;
   border:none;
   color: white;
   cursor: pointer;
}
.nav_header a::after{
    content:" ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.nav_header a:hover::after{
    width: 100%;
}
    
.logoHeader{
    margin-left: 2em;
}
.nav_header a{
    margin-right: 3em;
    position: relative;
    
}