@import url('https://fonts.cdnfonts.com/css/abnes');

/* @font-face{
    font-family:'logoFont';
    src: url('abnes.otf') format('opentype')
    ,url('abnes.ttf')format('truetype');
    font-weight: normal;
    font-style:normal;
    /* opentype otf
    truetype ttf
    truetupe-aat
    embedded-opentype
    svg*
*/
:root{
    --azul--color:#003140;
}
.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    
}


.parceiro1{
    width: 12em;
    height: 6em;
}
.parceiro2{
    width: 18em;
    height: 18em;
    margin-top: -6.1em;
}
#titleEmpresas{
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 4%;
    margin-left: 15%;
    font-size: 25pt;
}
body{
    color:black;
    font-family: 'logoFont','Times','serif';
    
}

#image-sobrenos{
    margin-left: -15%;
    margin-top: 0%;
    width: 500px;
    height:300px;
}






#title2{
   text-align: center;
   margin-top: 0em;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25pt;
   margin-left:128vh;
   margin-top: -2em;
}


#line1{
    margin-left: 10%;
    margin-top: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 6%, rgba(102,4,214,1) 33%, rgba(145,4,214,1) 60%);
}
#progressLineDefault{
    z-index: 1;
    width: 3px;
    
    margin-left: -3em;
    margin-top: -22em;
  
}
#progressLineDefault1{
    z-index: 1;
    width: 3px;
    margin-left: -3em;
    margin-top: -22em;
    height: 100%;
}
#progressLineDefault2{
    z-index: 1;
    width: 3px;
    margin-left: -3em;
    margin-top: -22em;
    height: 100%;
}

@keyframes pfv{
    from{
        height: 0px;
    }
    to{
        height: 50em;
    }
}

.contentBodyMain{
    margin-top: 0vh;
}

.cabecalho_link{
    font-weight: bold;
}    




.logoBody{
    position: relative;
    z-index: 5;
    margin-top: 30px;
    margin-left: 3em;
    height: 4em;
    width: 25em;
    transform: translateY(0px);
    animation: imgbody 5s ease-in-out infinite ;
    
}
@keyframes imgbody {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* linhas coloridas */
.VectorLine{
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(0,0,0,1) 87%);
  
}


.linhaColorida{
    background-color: blue;
    width: 7px;
    height: 10em;
    margin-left: 15%;
}





@keyframes showSidebar {
        from{
            margin-left: -100vw;
        }
        to{
            margin-left: -5vw;
        }
}
.linha2{
    box-shadow: 1px 1px 4px;
    margin-top: 2.5em;
}
/* ICONS************************************************************************************************ */
.decoracaoIcon{
    margin-top: -50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#icon-people{
    height: 5.5em;
    width: 5.5em;
}
#icon-mala{
    height: 6em;
    width: 5.5em;
    margin-left:1em;
    margin-top: 20em;
    animation-name:animIcon;
    opacity: 0;
    transition: opacity 1s linear;
    transition-delay: 0.5s;
}
#icon-video{
    height: 4.5em;
    width: 4.5em;
    margin-left: 2.5em;
}
.videoColumn{
    display: flex;
    flex-direction: column;
}
#icon-tool{
    height: 6em;
    width: 6em;
    margin-left: -2.5em;
}
#icon-team{
    height: 7em;
    width: 7em;
    margin-left: 4.5em;
    animation-name:animIcon;
    position: absolute;
    opacity: 1;
    transition: opacity 1s linear;
    transition-delay: 0.5s;
}
/* animation keygframe */

@keyframes animIcon{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* FIM ICONS************************************************************************************************ */
/* SOBRENÓS********************************** */
.descSobreNos{
    text-align: left;
    margin-left: 0%;
    margin-top: -4%;
    font-size: 22pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#title1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    margin-left: 1.4em;
}
#title3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt ;
    margin-left: 1.4em;
}



.sobreNos{
    display: flex;
    flex-direction: row;
    gap: 9%;
    margin-top: 5%;
    color: black;
  
}
.contentSobreNos{
    display: flex;
    flex-direction: row;
    margin-top: 50vh;
    margin: auto;
    margin-top: 28%;
    margin-left: 10%;
    gap: 15em;
   
   
}
.textSobreNos{
    margin-top: 12.7%;
}

.textEtitle{
    display: flex;
    flex-direction: column;
   
}
.quemSomos{
  margin-left:7.5%;
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20em ;
}
/* gif */

.gifBox{
   margin-left: -3em;
}
.titleSobreNos,.titleArea{
    display: flex;
    flex-direction: row;
}
/* FIM SOBRENÓS********************************** */
/* PROJETOS */
.descProjetos{
    margin-left: 0%;
    margin-top: 10%;
    margin-right: 4em;
    text-align: left;
    font-size: 24pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
.titleProjetos{
    display: flex;
    flex-direction: row;
}
.projetoSection{
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    margin-left: 10%;
    height:50em;    
}
#projetos{
    margin-top: -0%;
}

#projetos{
    margin-left: 40%;
    margin-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}
/*TESTE********************************** */
#icon-empresasImg{
    position: relative;
    margin-left: -50%;
    z-index: -1;
    height: 30em;
 
    width: 30em;
}
.container-empresas{
    /* background-color: white; */
}
.parceirosBox{
    margin-left: -120%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 1px 1px 4px black;
    background-color:  #031326;
    height: 40em;

}
.parceiros{

    margin-left: 20%;
    margin-top: 50%;
    min-height: 100vh;
   
}
.sectionTextRight{
    margin-left: 44%;
    margin-top: 20%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif; 
}
#sectionTextRight{
    margin-left: 44%;
    margin-top: 20%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif; 
}

.sectionTextLeft{
    margin-left: 42.5%;
    margin-bottom: 30px;
    margin-top: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    min-height: 100vh;
}

.titleServicos{
    font-family: Arial, Helvetica, sans-serif;
}

#logoIconParceiro{
    margin-top: -2em;
}
#logoIconParceiro1{
    margin-top: -9em;
}
.parceirosImg{
  
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-left: 55%;
    margin-top: 10em;
    border-radius: 10px;
    width: 100%;
    height: 20em;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 20px black;
}
.barEffect{
    margin-left: 8%;
    margin-top: -45.7%;
    position: absolute;
}

/* .init-hidden{
    opacity: 0;
    transition: opacity 1s linear;
}
.init-hidden-off{
    opacity: 1;
} */


.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 17%;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slides img{
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

#servicos{
    margin-top: -0.8em;
    font-size: 25pt;
    margin-left: 0%;
}
.servicos {
    margin-left: 46%;
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

#video {

    margin-left: -3em;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#videoTitle{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 14.5em;
    margin-top: 1em;
    font-size: 25pt;
}



html { 
    scroll-behavior: smooth;
    user-select: none;
} 

/* PROGRESOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.progresso{
    width: 3px;
    height: 100%;
   
}
.progresso1{
    width: 3px;
    height: 100%;
    margin-top: 6em;
}
.progresso2{
    width: 3px;
    height: 100%;
    margin-top: 0em;
}

.progresso3{
    width: 3px;
    height: 100%;
    margin-top: -2em;
}
.linhaProgressoTeste{
    height: 100%;
    background-color: #20a6ff;
}


/* linhas teste */
#scroll-progresso{
    position: absolute;
    width: 5px;
    background: rgb(145,4,214);
    background: linear-gradient(180deg, rgba(145,4,214,1) 20%, rgba(58,33,255,1) 54%, rgba(0,172,255,1) 85%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-play-state: paused; */
   
}
#scroll-progresso1{
    position: absolute;
    width: 3px;
    height: 100%;
    background: rgb(0,172,255);
    background: rgb(46,230,245);
    background: linear-gradient(180deg, rgba(0,172,255,1) 14%, rgba(255,0,108,1) 47%, rgba(0,172,255,1)  92%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-play-state: paused; */
   
}
#scroll-progresso01{
    position: absolute;
    width: 3px;
    height: 100%;
    background: rgb(0,172,255);
  
    background: linear-gradient(180deg, rgba(0,172,255,1) 14%, rgba(255,0,108,1) 47%, rgba(0,172,255,1)  92%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-play-state: paused; */
   
}
#scroll-progresso2{
    position: absolute;
    width: 5px;
    height: 100%;
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 5%, rgba(46,245,82,1) 47%, rgba(255,239,0,1) 71%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-play-state: paused; */
   
}

#scroll-progresso2{
    width: 3px;
    height: 0%;
    
    background: rgb(255,0,0);
background: linear-gradient(180deg, rgba(255,0,0,1) 5%, rgba(46,245,82,1) 47%, rgba(255,239,0,1) 71%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-play-state: paused; */
   
}

/* Video */

#scroll-progresso3{
    position: absolute;
    width: 3px;

    height: 80%;
    background: rgb(255,252,5);
    background: linear-gradient(180deg, rgba(255,252,5,1) 1%, rgba(14,135,245,1) 52%, rgba(44,255,0,1) 87%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-left: 4.7em;
    margin-top: 5em;
    /* animation-play-state: paused; */
   
}
/* equipe */
#scroll-progresso4{
    position: absolute;
    width: 3px;
    height: 150%;
    background: rgb(255,252,5);
    background: linear-gradient(180deg, rgba(255,252,5,1) 1%, rgba(14,135,245,1) 52%, rgba(44,255,0,1) 87%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-left: 7.8em;
    margin-top: 7em;
    /* animation-play-state: paused; */
   
}
/* CONTATO */

#scroll-progresso4{
    position: absolute;
    width: 3px;
    height: 145%;
    background: rgb(0,255,16);
    background: linear-gradient(180deg, rgba(0,255,16,1) 5%, rgba(46,230,245,1) 37%, rgba(2,106,137,1) 71%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 1;
    margin-left: 7.8em;
    margin-top: 7em;
    /* animation-play-state: paused; */
   
}
/* #scroll-progresso5{
    position: absolute;
    width: 3px;
    height: 100%;
    background: rgb(2,106,137);
    background: linear-gradient(180deg, rgba(2,106,137,1) 41%, rgba(3,216,35,1) 74%, rgba(255,248,22,1) 89%);
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 1;
    margin-left: 7.8em;
    margin-top: 0em;
   
   
} */

#icon-parceria{
    height: 12em;
    width: 11.5em;
    margin-top: -8em;
    margin-left: -18em;
}


.rowContact{
    display: flex;
    flex-direction: row;
    color: white;
}
@keyframes line1{
    from{
        height: 0%;
    }
    to{
        height: 100%;
        
    }
}

@keyframes line5{
    from{
        height: 0%;
    }
    to{
        height: 80%;
        
    }
}

@keyframes line2{
    from{
        height: 100%;
    }
    to{
        height: 0%;
        
    }
}

#section-contato{

    min-height: 110vh;
    margin-top: 0%;

}

#section-video{
    min-height: 100vh;
    margin-top: 5vh;
}



section{
    min-height: 100vh;
}
.boxIconChat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#iconChatContato{
    height: 20em;
    width: 20em;
    margin-left: 10%;
    margin-top: 85%;
}
#btn-submit-contact{
    height: 3em;
    width: 8em;
    margin-left: -10em;
    outline: 0;
    border: 0;
    border-radius: 10px;
    background-color: rgb(24, 160, 223);
    color: white;
}
#text-msng-box-form{
    color: black;
    font-size: 20pt;
    text-align: center;
    margin-top: 1em;
}
.boxForm{
    background-color:#D0D7DF;
    height: 40em;
    width: 30em;
    margin-top: 20%;
    margin-left: 0%;
    border-radius: 20px;
    border:black;
    margin-top: 10em;
}

::-webkit-scrollbar{
    width: 0px;
}

#contatoTittle{
    color: white;
    margin:auto;

    position: absolute;
    font-size: 28pt;
}

/* VIDEO ************************ */
#videoTItle{
    color: black;
    margin-left: 48%;
    margin-top: 5em;    
    font-size: 28pt;
    position: absolute;
}
#video{
    color: black;
    margin-left: 45%;
    font-size: 28pt;
}
.videoBox{
    margin-left: 0em;
    display: flex;
    flex-direction: row;
    gap: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}
.columnDescVideo{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 8em;
}
.descVideo{
    text-align: left;

}
.image-pitch{
    border-radius: 20px;
    margin-left: 7.5em;
    margin-top: 0em;
    width: 25em;
    height: 15em;
    /* box-shadow: 10px 10px 10px purple; */
    animation: go-back 1s infinite alternate;
    box-shadow: 1px 1px 10px black;
}
/* fim VIdeo */
.inptForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    gap: 3em;
}
#inptText{
    width: 50%;
    border-radius: 5px;
    height: 3em;
}

#inptTextArea{
    width: 50%;
    border-radius: 5px;
    height: 10em;
    resize: none;
}

.effectBinario{
    overflow:hidden;

}




.teste{
    display: flex;
    flex-direction: row;
    
}




/* video */
.titleVideo{
    display: flex;
    flex-direction: row;
}

.inicio{
    background-color: #003140;
    margin-top: -15em;
    
}
.linhas-inicio{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}

.linha-inicio-1{
   height: 3em;
    background-color: #003140;
    border: 1px solid  #003140;
    position: absolute;
    height: 5em;
    transform: rotate(200deg);
    width: 20em;
    margin-left: 500px;
    margin-top:-72px;
}
.linha-inicio-2{
    position: relative;
    background-color: #003140;
    border: 1px solid  #003140;
    width: 100%;
    margin-left: 49.8em;
    margin-top: -19px;
    height: 5em;
    overflow: hidden;
}

.columnInicioButton{
    font-size: 20pt;
    margin-top: 7%;
}

.rowInicio{
    margin-top: 25%;
    position: absolute;
    margin-left: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50em;
}

#text-inicio{
    font-size: 27pt;
    color: white;
    text-align: center;
    font-family: 'logoFont','Times','serif';
    font-family: 'abnes', sans-serif;
}

#ver-mais{
    background-color: #41B8C4;
    border-radius: 10px;
    width: 7em;
    height: 1.5em;
    margin: auto;
    color: white;
    box-shadow: 1px 1px black;
    text-align: center;
    
}


#ver-mais:hover{
    transition: 0.5s;
    background-color: #5cc3cd;
    color: #003140;
}
#ver-mais:not(:hover){
    transition: 0.5s;
    background-color: #41B8C4;
    
}
.columnInicioButton{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#art-inicio{
    height: 25em;
    width: 35em;
    margin-top: 2.5em;
    position: relative;
    z-index: 555;
    margin-left: -22em;
    object-fit: cover;
}
/* margintop -75px */

/* 39 49 */
:root{
    --bg-cards: #ebebeb;
}

.containerProjetos{
    display: flex;
    flex-direction: row;
}
.rowCardsProjeto{
    display: flex;
    flex-direction: row;
    gap: 10em;
}

.cardProjetos{
    height: 30em;
    width: 24em;
    background-color: var(--bg-cards);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 5px 15px black;
}
.colmnCardProjeto{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#sectionProjetos{
    margin-top: 20%;
}
#imgProjetos{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: auto;
}

.subRowCard{
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-left: 1em;
}

#subImageCard{
    height: 7em;
    width: 7em;
    border-radius: 10px;
}

.buttonCardProjet{
    background-color: #003140;
    color: white;
    width: 50%;
    border-radius: 10px;
    height: 4em;
    outline: 0;
    border: none;
}
.buttonCardProjet:hover{
    transition: 0.5s;
    background-color: #41B8C4;
    color: white;

}
#titleSection{
    font-size: 22pt;
}