
@media screen and (max-width:768px){
    .btn_menu_header{
        display: block;
        
    }
    .nav_header{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        height: 100%;
        gap: 5px;
        width: 35vw;
        text-align: center;
        animation-duration: 1s;
        margin-left: -100vw;
        background-color: gray;
        border-radius: 10px;
        /* PROBLEMAAAAAAAAAAAAAAAAAAAAA */
    }
    .nav_header a{
        margin: auto;
    }
    .logoHeader{
        margin-right: 42%;
    }
    .logoBodyBox{
        margin-left: 10vh;

        margin-top: 20%;
        position: relative;
       
    }
    .parceiros{
        margin-top: 90%;
    }
    #bnt-hamburguer{
        margin-top: -50%;
        margin-left: 2em;
    }
}
@keyframes showSidebar {
        from{
            margin-left: -100vw;
        }
        to{
            margin-left: -5vw;
        }
}