
@import url('https://fonts.cdnfonts.com/css/abnes');

/* @font-face{
    font-family:'logoFont';
    src: url('abnes.otf') format('opentype')
    ,url('abnes.ttf')format('truetype');
    font-weight: normal;
    font-style:normal;
    /* opentype otf
    truetype ttf
    truetupe-aat
    embedded-opentype
    svg*
*/
.searchSection{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 12%;
    
}
#searchBarId{
    outline-color: blue;
    height: 3.5em;
    width: 25em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 2%;
    z-index: 1;
}
#btnPesquisa{
    height: 3.5em;
    width: 15em;
    margin-top: 2%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -1em;
    z-index: 2;
}
.parceiro1{
    width: 12em;
    height: 6em;
}
.parceiro2{
    width: 18em;
    height: 18em;
    margin-top: -6.1em;
}
#titleEmpresas{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    color: black;
    font-family: 'logoFont','Times','serif';
    user-select: none;
}
.titleSection{
    text-align: center;
   
}
#title1{
    margin-right: 25%;
    margin-top: 1em;
    font-family: 'logoFont','Times','serif';
    font-family: 'abnes', sans-serif;
    font-size: 27pt;
    text-shadow: 1px 10px 6.5px gray;
    
    
    
}
.quemSomos{
  position: absolute;
  margin-left:7.5%;
}
#title2{
   text-align: center;
   margin-top: 7em;
}

.header{
    display: flex;
    flex-direction: row;
  
}
.header,a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    Font-weight:300;
    color: black;
    justify-content: space-between;
    height: 3em;
    margin-top: 20px;
    gap: 3em;
}


#frufru{
  
    height: 20em;
    width: 3px;
    margin-left: 10%;
    margin-top: 10%;
    background: rgb(21,9,127);
    background: linear-gradient(90deg, rgba(21,9,127,1) 11%, rgba(46,57,245,1) 50%, rgba(171,83,242,1) 93%);
}


.nav_header a{
    margin-right: 3em;
    position: relative;
    
}
.contentBodyMain{
    margin-top: -27.5em;
}
.nav_header a::after{
    content:" ";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.nav_header a:hover::after{
    width: 100%;
}
    
    


.imgLogo{
    height:2em;
    width: 5em;
    margin-top: -0.5em;
}
.logoBody{
    height:5em;
    width: 20em;
    margin-left: 5em;
    margin-top: 5%;
   

}
.logoHeader{
    margin-left: 3em;
}
#linha1{
    margin-top: -0.5em;
    box-shadow: 1px 1px 4px black;
}



/* ::-webkit-scrollbar{
    width: 2px;
} */
.btn_menu_header{
     display:none; 
    background-color: transparent;
    border:none;
    color: black;
    cursor: pointer;
}

.linha2{
    box-shadow: 1px 1px 4px;
}

#icon-people{
    height: 6em;
    width: 6em;
    margin-top: 320px;
    margin-left: -45px;
   

}
.descSobreNos{
    text-align: left;
    margin-left: 12%;
    margin-top: 5%;
    font-size: 20pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.parceiros{
    margin-left: 20%;
    margin-top: 43%;
}
#sectionTextRight{
    margin-left: 70%;
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    
}


#sectionTextLeft{
    margin-left: 20%;
    margin-top: 20%;
    
    
    
    font-family: Arial, Helvetica, sans-serif;
}

.titleServicos{
    font-family: Arial, Helvetica, sans-serif;
}
.parceirosImg{
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.barEffect{
    margin-left: 8%;
    margin-top: -45.7%;
    position: absolute;
}

.init-hidden{
    opacity: 0;
    transition: opacity 1s linear;
}
.init-hidden-off{
    opacity: 1;
}

#servicosText{
    margin-top: 40%;
}

.footerContent{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:7pt;
}

.footerColum{
    display: flex;
    flex-direction: column;
}


section{
    min-height: 100vh;
}
.logoFooter{
        margin-left: 37%;
        margin-top: 5%;
}

#logoFooter{
    height: 5em;
    width: 20em;
}



/* Cards equipe */

.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #000000;
    margin: 10px;
    border-radius: 80%;
}
.socialIcons a i{
    font-size: 2em;
    color: rgb(115, 171, 189);
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: #5fe1e6;
    transition: 0.5s;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card{
    position: relative;
    width: 220px;
    height: 180px;
    background: #333;
    transition: 0.5s;
}
.card .lines{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}
.card .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent,#DCDCDC,#DCDCDC,
    #DCDCDC,transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}
.card:hover .lines::before{
    animation-play-state: running;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.card .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}
.card .imgBx{
    position: absolute;
    top: -60px;
    left: 50%;
    width: 120px;
    border-radius: 3px;
    height: 120px;
    transform: translateX(-50%);
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .imgBx::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%,-50%);
    background: linear-gradient(transparent,#808080,#808080,
    #808080,transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}
.card:hover .imgBx::before{
    animation-play-state: running;
}
@keyframes animate2{
    0%{
        transform: translate(-50%,-50%)rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%)rotate(0deg);
    }
}
.card .imgBx::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}
.card .imgBx img{
    position: absolute;
    width: 100px;
    z-index: 1;
    opacity: 0.5s;
    transition: 0.5s;
}
.card:hover .imgBx img{
    opacity: 1;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.card .content .details{
    padding: 73px 20px;
    text-align: center;
}
.card .content .details h2{
    font-size: 1.5em;
    color: #45f3ff;
    line-height: 1.2em;
}
.card:hover .content .details p{
    opacity: 1;
}







.container-equipe{
    position: relative;
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}





html { 
    scroll-behavior: smooth;

} 


.progresso{
    width: 3px;
    height: 100%;
    background-color: rgb(240,240,240);
    
}
#scroll-progresso{
    width: 3px;
    height: 0%;
    background-color:dodgerblue;
    animation-name:line1;
    animation: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* animation-play-state: paused; */
   
}


@keyframes line1 {
    from{
        height: 0%;
    }
    to{
        height: 100%;
        
    }
}