
.section-servicos{
    margin-top: -3em;
}

.container-servicos{
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    margin-left: -60%;
    margin-top: 5%;
    align-items: center;
    gap: 80px;
}

.container-titulo-servicos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -12em;
}

#text-equipe{
    text-align: left;
    font-size: 24pt;
    margin-left: 10%;
    margin-top: 4em;
}

#robot-test{
    margin-left: 4em;
    margin-bottom: -1em;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerCard{
    position: relative;
    margin-right: 7%;
    display: flex;
    padding: 80px 40px;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}
.card01{
    position: relative;
    width: 350px;
    height: 180px;
    background: #003140;
    transition: 0.5s;
}
.card01:hover{
    height: 450px;
}
.card01 .lines{
    position: absolute;
    inset: 0;
    background: #003140;
    overflow: hidden;
}
.card01 .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent,#00B2DF,#00B2DF,
    #00B2DF,transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}
.card01:hover .lines::before{
    animation-play-state: running;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.card01 .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #003140;
}
.card01 .imgBx{
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #003140;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card01:hover .imgBx{
    top: 25px;
    width: 200px;
    height: 200px;
}
.card01 .imgBx::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%,-50%);
    background: linear-gradient(white);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}
.card01:hover .imgBx::before{
    animation-play-state: running;
}
@keyframes animate2{
    0%{
        transform: translate(-50%,-50%)rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%)rotate(0deg);
    }
}
.card01 .imgBx::after{
    content: '';
    position: absolute;
    inset: 3px;
    background-image: linear-gradient(to bottom right, #00B2DF, #003140);
}
.card01 .imgBx img{
    position: absolute;
    width: 100px;
    z-index: 1;
    opacity: 0.5s;
    transition: 0.5s;
}
.card01:hover .imgBx img{
    opacity: 1;
}
.card01 .contentCard{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card01 .contentCard .details{
    padding: 47px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}
.card01:hover .contentCard .details{
    transform: translateY(0px);
}
.card01 .contentCard .details h2{
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    line-height: 1.2em;
}
.card01 .contentCard .details p{
    color: #fff;
    padding: 30px 15px;
    opacity: 0;
    font-size: 18px;
    transition: 0.5s;
}
.card01:hover .contentCard .details p{
    opacity: 1;
}
.card01 .contentCard .details a{
    display: inline-block;
    padding: 12px 20px;
    background: white;
    color: #292929;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}
.card01:hover .contentCard .details p,
.card01:hover .contentCard .details a{
    opacity: 1;
}


.container-servicos{
    display: flex;
    flex-direction: column;
}
.containerCard{
    margin-left: 40%;
}